<h1>Vanilla JS Example</h1>

<h2>Counter Components</h2>

<%= render_component 'Counter', {value: 3} %>

<%= render_component 'Counter', {value: 0} %>

<%= render_component 'Counter', {value: 100} %>
