<h1>React Example</h1>

<h2>Counter Components</h2>
<%= render_component 'Counter' %>
<%= render_component 'Counter', {startingValue: 10} %>

<%= javascript_include_tag 'components/Counter/renderClient' %>
